app/index.pug
extends layouts/default

block content

    .intro.parallax-scroll
        .container-fluid
            .container
                .alignment-middle
                    h1.full-image-title Picture perfect
                    p.full-image-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.
    .container-fluid.container-block
        .container
            .block-title Start something new
            .row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    p.b-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    p.b-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    p.b-text eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
                .col-xs-12.col-sm-6.col-md-6.col-lg-6.custom-padding-top
                    img.img-phone.hidden-xs.hidden-sm(src='images/img-phone.png', alt='Image iPhone')
                    p.b-text Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    p.b-text Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    .container-fluid.portfolio
        .container
            .row
                mixin portfolio-item(background, title, description, linkMoreText)
                    .portfolio-item(style= background)
                        .portfolio-item-title= title
                        .portfolio-item-description= description
                        a.link-more(href='#')= linkMoreText + ' →'
                .col-xs-12.col-sm-4.col-md-4.col-lg-4.padding-right-0
                    +portfolio-item('background-color: #f5989d;', 'Design quality', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.', 'Find Out more')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4.padding-0
                    +portfolio-item('background-color: #615f7d;', 'Built to last', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.', 'Find Out more')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4.padding-left-0
                    +portfolio-item('background-image: url("images/img-1.png"); background-repeat: no-repeat;', 'Our clients', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt', 'Get insights')
                .col-xs-12.col-sm-8.col-md-8.col-lg-8.padding-right-0
                    +portfolio-item('background-image: url("images/img-2.png"); background-repeat: no-repeat;', 'Sign up & see why', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.', 'Get Started Now')
                .col-xs-12.col-sm-4.col-md-4.col-lg-4.padding-left-0
                    +portfolio-item('background-color: #82ca9c;', 'Perfect pictures', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.', 'Find Out more')
    .container-fluid.container-block
        .container
            .block-title A look at the details
            .row
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    p.b-text-title Web based
                    p.b-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    p.b-text-title Performance
                    p.b-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    p.b-text-title Clultral
                    p.b-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                    p.b-text-title Sustainability
                    p.b-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .full-image.parallax-scroll
        .container-fluid
            .container
                .alignment-middle
                    h2.full-image-title More power<br>behind every pixel.
                    p.full-image-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea<br>commodo consequat.
                    <br>
                    a.link-more(href='#') See the options →
    .container-fluid.container-block.bg-green
        .container
            .block-title.color-light Reasons to get onboard
            .row
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    p.b-text-title.color-light Web based
                    p.b-text.color-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    p.b-text-title.color-light Team login
                    p.b-text.color-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    p.b-text-title.color-light Great Support
                    p.b-text.color-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .container-fluid.container-block.rates.bg-concrete
        .container
            .row
                mixin rates-item (badge, title, description, price)
                    .rates-item
                        span.rates-item-badge= badge
                        .rates-item-title= title
                        .rates-item-description= description
                        a.btn__green(href='#', role='button')= 'Buy now $' + price
                        .platforms
                            .icon.icon-apple
                            .icon.icon-windows
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    +rates-item('Legacy', 'Go it solo', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco', '9')
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    +rates-item('Most popular', 'Team Plan', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco', '18')

dist/index.html
<!DOCTYPE html><html class="no-js" lang=""><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1"><title>Take</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><!-- Place favicon.ico in the root directory--><link rel="stylesheet" href="fonts/OpenSans/stylesheet.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/vendor/modernizr.js"></script></head><body><!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]--><div class="b-mask"><div class="loader"><div class="loader-inner"><div class="loader-line-wrap"><div class="loader-line"></div></div><div class="loader-line-wrap"><div class="loader-line"></div></div><div class="loader-line-wrap"><div class="loader-line"></div></div><div class="loader-line-wrap"><div class="loader-line"></div></div><div class="loader-line-wrap"><div class="loader-line"></div></div></div></div></div><div class="header"><a href="#"><img class="logo" src="images/logo.png" alt="Logo"></a></div><div class="intro parallax-scroll"><div class="container-fluid"><div class="container"><div class="alignment-middle"><h1 class="full-image-title">Picture perfect</h1><p class="full-image-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p></div></div></div></div><div class="container-fluid container-block"><div class="container"><div class="block-title">Start something new</div><div class="row"><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><p class="b-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p class="b-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p><p class="b-text">eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p></div><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 custom-padding-top"><img class="img-phone hidden-xs hidden-sm" src="images/img-phone.png" alt="Image iPhone"><p class="b-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p><p class="b-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p></div></div></div></div><div class="container-fluid portfolio"><div class="container"><div class="row"><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-0"><div class="portfolio-item" style="background-color: #f5989d"><div class="portfolio-item-title">Design quality</div><div class="portfolio-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="link-more" href="#">Find Out more →</a></div></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-0"><div class="portfolio-item" style="background-color: #615f7d"><div class="portfolio-item-title">Built to last</div><div class="portfolio-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="link-more" href="#">Find Out more →</a></div></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-left-0"><div class="portfolio-item" style="background-image: url(&quot;images/img-1.png&quot;); background-repeat: no-repeat"><div class="portfolio-item-title">Our clients</div><div class="portfolio-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div><a class="link-more" href="#">Get insights →</a></div></div><div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 padding-right-0"><div class="portfolio-item" style="background-image: url(&quot;images/img-2.png&quot;); background-repeat: no-repeat"><div class="portfolio-item-title">Sign up &amp; see why</div><div class="portfolio-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="link-more" href="#">Get Started Now →</a></div></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-left-0"><div class="portfolio-item" style="background-color: #82ca9c"><div class="portfolio-item-title">Perfect pictures</div><div class="portfolio-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="link-more" href="#">Find Out more →</a></div></div></div></div></div><div class="container-fluid container-block"><div class="container"><div class="block-title">A look at the details</div><div class="row"><div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"><p class="b-text-title">Web based</p><p class="b-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div><div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"><p class="b-text-title">Performance</p><p class="b-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div><div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"><p class="b-text-title">Clultral</p><p class="b-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div><div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"><p class="b-text-title">Sustainability</p><p class="b-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div></div></div></div><div class="full-image parallax-scroll"><div class="container-fluid"><div class="container"><div class="alignment-middle"><h2 class="full-image-title">More power<br>behind every pixel.</h2><p class="full-image-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea<br>commodo consequat.</p><br><a class="link-more" href="#">See the options →</a></div></div></div></div><div class="container-fluid container-block bg-green"><div class="container"><div class="block-title color-light">Reasons to get onboard</div><div class="row"><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><p class="b-text-title color-light">Web based</p><p class="b-text color-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><p class="b-text-title color-light">Team login</p><p class="b-text color-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><p class="b-text-title color-light">Great Support</p><p class="b-text color-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div></div></div></div><div class="container-fluid container-block rates bg-concrete"><div class="container"><div class="row"><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><div class="rates-item"><span class="rates-item-badge">Legacy</span><div class="rates-item-title">Go it solo</div><div class="rates-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</div><a class="btn__green" href="#" role="button">Buy now $9</a><div class="platforms"><div class="icon icon-apple"></div><div class="icon icon-windows"></div></div></div></div><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><div class="rates-item"><span class="rates-item-badge">Most popular</span><div class="rates-item-title">Team Plan</div><div class="rates-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</div><a class="btn__green" href="#" role="button">Buy now $18</a><div class="platforms"><div class="icon icon-apple"></div><div class="icon icon-windows"></div></div></div></div></div></div></div><div class="container-fluid container-block footer bg-navy"><div class="container"><div class="row"><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><p class="b-text-title color-light">Get in touch</p><p class="b-text color-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><div class="footer-menu"><div class="row"><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3"><div class="footer-menu-title color-light">Resources</div><ul class="list-unstyled"><li class="footer-menu-item"><a class="color-light" href="#">Tour</a></li><li class="footer-menu-item"><a class="color-light" href="#">Customers</a></li><li class="footer-menu-item"><a class="color-light" href="#">Pricing and Plans</a></li><li class="footer-menu-item"><a class="color-light" href="#">New Features</a></li><li class="footer-menu-item"><a class="color-light" href="#">Education</a></li></ul></div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col-sm-offset-1"><div class="footer-menu-title color-light">Features</div><ul class="list-unstyled"><li class="footer-menu-item"><a class="color-light" href="#">Tour</a></li><li class="footer-menu-item"><a class="color-light" href="#">Customers</a></li><li class="footer-menu-item"><a class="color-light" href="#">Pricing and Plans</a></li><li class="footer-menu-item"><a class="color-light" href="#">New Features</a></li><li class="footer-menu-item"><a class="color-light" href="#">Education</a></li></ul></div><div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col-sm-offset-1"><div class="footer-menu-title color-light">How To’s</div><ul class="list-unstyled"><li class="footer-menu-item"><a class="color-light" href="#">Tour</a></li><li class="footer-menu-item"><a class="color-light" href="#">Customers</a></li><li class="footer-menu-item"><a class="color-light" href="#">Pricing and Plans</a></li><li class="footer-menu-item"><a class="color-light" href="#">New Features</a></li><li class="footer-menu-item"><a class="color-light" href="#">Education</a></li></ul></div></div></div></div><div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-5 col-lg-5"><p class="b-text-title color-light">Stay in touch</p><form id="feedback" method="" action=""><input type="text" placeholder="E-mail"> <button class="btn__green" type="submit"><div class="icon icon-check"></div></button></form><span class="form-warning">We don’t send spam. Actually, who are we kiding, we’ll spam<br>the shit out of you’r inbox</span><p></p></div></div></div></div><script src="scripts/vendor.js"></script><script src="scripts/plugins.js"></script><script src="scripts/main.js"></script></body></html>
